
/UrbanSound8k/notebooks/tensoboard_cotraining/
/UrbanSound8k/notebooks/tensorboard/
/UrbanSound8k/osirim/tensorboard/
/UrbanSound8k/osirim/tensorboard_back/
/results/
/UrbanSound8k/standalone/tensorboard_full_supervised/
/UrbanSound8k/standalone/tmp/
/UrbanSound8k/standalone/tensorboard_10_supervised/
/UrbanSound8k/standalone/test/
/UrbanSound8k/standalone/tensorboard_cotraining_cnn_epsVary/
/tensorboard/
/tensorboard/osirim_tensorboard/
/tensorboard/osirim_0.5r_cnn_crossval_dct/
/tensorboard/olympe_tensorboard/
/tensorboard/osirim_tensorboard_supervised/
/tensorboard/osirim_50_cotraining/
/tensorboard/osirim_grid_search/
/tensorboard/osirim_compound/
/tensorboard/osirim_tensorboard_0.5r_scallable2_grid_search/
/tensorboard/osirim_20_cotraining/
/tensorboard/osirim_compound1/
/tensorboard/osirim_cotraining/
/ubs8k.egg-info/
/dataset
/dataset.lnk
/.idea/
/UrbanSound8k/notebooks/img for paper/
/UrbanSound8k/notebooks/.ipynb_checkpoints/
/UrbanSound8k/notebooks/tensorboard/
UrbanSound8k/osirim/aug_crossval_full/combination/
UrbanSound8k/osirim/aug_crossval_full/cross_validation/
UrbanSound8k/osirim/aug_crossval_full/epsilon/
UrbanSound8k/osirim/aug_crossval_full/lambda_cot_max/
UrbanSound8k/osirim/aug_crossval_full/lambda_diff_max/
UrbanSound8k/osirim/aug_crossval_full/learning_rate/
UrbanSound8k/osirim/aug_crossval_full/warmup/
**/.ipynb_checkpoints/
**/__pycache__/
