/dataset/
/.idea/
/notebooks/.ipynb_checkpoints/
/notebooks/tensorboard/
/standalone/test/
/tensorboard/
/standalone/tensorboard_full_supervised/
/standalone/tensorboard/
/results/
/standalone/tensorboard_10_supervised/
/standalone/tmp/
/standalone/tensorboard_50_supervised/
/standalone/CompoundScalling/tensorboard/
/standalone/CompoundScalling/.ipynb_checkpoints/
/standalone/.ipynb_checkpoints/
/ubs8k/.ipynb_checkpoints/
/notebooks/tensoboard_cotraining/
/notebooks/tensoboard_cotraining/
/notebooks/img for paper/
/notebooks/tensoboard_cotraining/
