.ipynb_checkpoints
__pycache__
.idea
.vs
.vscode
*.swp
*.swo
model_save/ubs8k/ubs8k/test/cnn03_0.1_m1.torch.last
notebooks/co-training-AugAsAdv.ipynb
tensorboard/ubs8k/ubs8k/test/2020-08-25_10:53:34_cnn03_0.1_s_n_20-flip_lr/events.out.tfevents.1598345615.lcances.1007.0
._sync_cc565afc60a3.db
._sync_cc565afc60a3.db-shm
._sync_cc565afc60a3.db-wal
DCT.egg-info/
venv.yml
model_save/
